@model RPG_Manager.Areas.RPGArea.Models.Character

@{
    ViewData["Title"] = "CreateCharacter";
}

<h2>CreateCharacter</h2>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCharacter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <input asp-for="Background" class="form-control" />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerName" class="control-label"></label>
                <input asp-for="PlayerName" class="form-control" />
                <span asp-validation-for="PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" />
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XP" class="control-label"></label>
                <input asp-for="XP" class="form-control" />
                <span asp-validation-for="XP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STR" class="control-label"></label>
                <input asp-for="STR" class="form-control" />
                <span asp-validation-for="STR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEX" class="control-label"></label>
                <input asp-for="DEX" class="form-control" />
                <span asp-validation-for="DEX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CON" class="control-label"></label>
                <input asp-for="CON" class="form-control" />
                <span asp-validation-for="CON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INT" class="control-label"></label>
                <input asp-for="INT" class="form-control" />
                <span asp-validation-for="INT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WIS" class="control-label"></label>
                <input asp-for="WIS" class="form-control" />
                <span asp-validation-for="WIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CHA" class="control-label"></label>
                <input asp-for="CHA" class="form-control" />
                <span asp-validation-for="CHA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Inspiration" /> @Html.DisplayNameFor(model => model.Inspiration)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProficiencyBonus" class="control-label"></label>
                <input asp-for="ProficiencyBonus" class="form-control" />
                <span asp-validation-for="ProficiencyBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavingThrow" class="control-label"></label>
                <input asp-for="SavingThrow" class="form-control" />
                <span asp-validation-for="SavingThrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmorClass" class="control-label"></label>
                <input asp-for="ArmorClass" class="form-control" />
                <span asp-validation-for="ArmorClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative" class="control-label"></label>
                <input asp-for="Initiative" class="form-control" />
                <span asp-validation-for="Initiative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitPointsMax" class="control-label"></label>
                <input asp-for="HitPointsMax" class="form-control" />
                <span asp-validation-for="HitPointsMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitPointsCurrent" class="control-label"></label>
                <input asp-for="HitPointsCurrent" class="form-control" />
                <span asp-validation-for="HitPointsCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitPointsTemporary" class="control-label"></label>
                <input asp-for="HitPointsTemporary" class="form-control" />
                <span asp-validation-for="HitPointsTemporary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitDice" class="control-label"></label>
                <input asp-for="HitDice" class="form-control" />
                <span asp-validation-for="HitDice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeathSaves_Successes" class="control-label"></label>
                <input asp-for="DeathSaves_Successes" class="form-control" />
                <span asp-validation-for="DeathSaves_Successes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeathSaves_Failures" class="control-label"></label>
                <input asp-for="DeathSaves_Failures" class="form-control" />
                <span asp-validation-for="DeathSaves_Failures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalityTraits" class="control-label"></label>
                <input asp-for="PersonalityTraits" class="form-control" />
                <span asp-validation-for="PersonalityTraits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ideals" class="control-label"></label>
                <input asp-for="Ideals" class="form-control" />
                <span asp-validation-for="Ideals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonds" class="control-label"></label>
                <input asp-for="Bonds" class="form-control" />
                <span asp-validation-for="Bonds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flaws" class="control-label"></label>
                <input asp-for="Flaws" class="form-control" />
                <span asp-validation-for="Flaws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Features" class="control-label"></label>
                <input asp-for="Features" class="form-control" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Traits" class="control-label"></label>
                <input asp-for="Traits" class="form-control" />
                <span asp-validation-for="Traits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EyeColor" class="control-label"></label>
                <input asp-for="EyeColor" class="form-control" />
                <span asp-validation-for="EyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skin" class="control-label"></label>
                <input asp-for="Skin" class="form-control" />
                <span asp-validation-for="Skin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hair" class="control-label"></label>
                <input asp-for="Hair" class="form-control" />
                <span asp-validation-for="Hair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appearance" class="control-label"></label>
                <input asp-for="Appearance" class="form-control" />
                <span asp-validation-for="Appearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backstory" class="control-label"></label>
                <input asp-for="Backstory" class="form-control" />
                <span asp-validation-for="Backstory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

