body {
    padding-top: 50px;
    padding-bottom: 20px;
}
html {
    background-color: #fff;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
#myCarousel{
    margin-top: 20px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.navbar-nav{
    width: 100%;
}
.navbar{
    min-height : 60px;
    width: 100%;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-content{
    float: left;
    width:33%;
}
.navbar-content:hover{
    background-color: #87ACE5;

}
.navbar-header{
    float: none;
}
.navbar-text {
    text-align: center;
    width: 100%;
    color: #D6DDFF;
}
.navbar-text:hover {
    text-decoration: none;
    color: #000064;
}